@font-face {
  font-family: Krungthep;
  src: url("Krungthep.woff2");
}
@font-face {
  font-family: Malaya;
  src: url("MalayalamSangamMN-01.woff2");
}

@font-face {
  font-family: Impact;
  src: url("impact.woff2");
}

h1,
h2,
header {
  font-family: Krungthep;
}

.show h3 {
  font-family: Impact;
  font-size: 30px;
  letter-spacing: 1.5px;
}

p {
  font-family: Malaya;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobilekampagne {
  display: none;
}

img {
  height: 100%;
  width: 100%;
}

.headlineimg {
  margin-bottom: -100px;
  margin-top: 40px;
}

.col_right {
  padding-right: 5px;
  padding: 10px;
}

.col_left {
  padding: 10px;
}

#section1 {
  background-color: #fad980;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  background-image: url(images/Yasmine.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 150px;
}

#section2 {
  background-color: #e66ea2;
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  justify-items: center;
  align-items: start;
  padding: 30px;
  color: white;
}

.section2text {
  position: relative;
  top: -100px;
  align-items: start;
  color: white;
  font-size: 2rem;
}

#section2½ {
  background-color: #000000;
  font-size: 1.8rem;
  color: white;
  display: grid;
  margin: 0;
  justify-items: center;
  align-items: center;

  height: 700px;
}

.talebobbel {
  position: relative;
  left: 357px;
  top: 50px;
  height: 150%;
}

.årskort {
  max-width: 40%;
  font-family: Malaya;
}

.årskort .btn {
  width: 200px;
}

#section3 {
  background-color: #a8dbd1;
  display: grid;
  grid-template-columns: repeat(1, minmax(500px, 1fr));
  justify-items: center;
  gap: 25px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 70px;
}

footer {
  background-color: #000000;
  display: grid;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8em;
  height: 120px;
}

.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  opacity: 80%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-color: white;
}

.header {
  background-color: #fffdfd;
  height: 100px;
  min-width: 40px;
  margin-top: 30px;
  background-image: url(images/Group\ 32.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-right: px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -75px;
}

.nav-logo {
  justify-content: center;
  height: 80px;
  width: 80px;
  position: relative;
  left: 35px;
}

.nav-link {
  justify-content: space-between;
  font-size: 100%;
  font-weight: 400;
  color: black;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.nav-item {
  justify-content: center;
  text-decoration: none;
  margin-left: 5rem;
  margin-top: 20px;
}

.drawing {
  height: 500px;
  max-width: 30%;
}

.section1_wrapper {
  background-color: white;
  opacity: 40%;
  display: flex;
  width: 85%;
  padding: 20px;
  justify-content: center;
  height: 580px;
  margin-bottom: 260px;
  margin-top: 20px;
  overflow: hidden;
}

#c {
  background-image: url(images/Yasmine.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.kampagnevideo {
  padding-top: 30px;
  margin-bottom: -100px;
  position: relative;
  top: -230px;
}

.show {
  background-color: white;
  align-items: center;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  border: #000000 solid 4px;
  color: black;
}

.articleimg {
  max-width: 350px;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  justify-items: center;
  padding: 20px;
}

.btn {
  border: 2px solid #77bbae;
  color: white;
  margin-bottom: 5px;
  width: 150px;
  text-decoration: none;
  background-color: black;
  padding: 9px;
  font-family: Malaya;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  .nav-menu {
    flex-direction: row;
    width: 405px;
    border-radius: 10px;
    text-align: center;
    display: flex;
  }

  .nav-item {
    margin: 2.5rem 0;
    margin-left: 4rem;
  }

  #section1 {
    background-color: #fad980;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
  }

  #section2 {
    background-color: #e66ea2;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    justify-items: start;
    align-items: start;
    margin-bottom: -100px;
    height: 600px;
    margin: 0px;
  }

  #section2½ {
    height: auto;
    padding: 50px 0px 30px 0px;
    width: 100%;
    text-align: left;
  }

  #section3 {
    background-color: #77bbae;
    display: grid;
    justify-content: center;
    align-items: start;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    justify-content: space-evenly;
  }

  .show {
    background-color: white;
    align-items: start;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    padding: 1px;
    height: 390px;
    max-width: 300px;
  }

  .articleimg {
    max-width: 250px;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    justify-items: center;
    padding: 10px;
  }

  .kampagnevideo {
    display: none;
  }

  .talebobbel {
    position: relative;
    left: 65px;
    top: -163px;
  }

  .årskort {
    max-width: 50%;
  }

  .mobilekampagne {
    position: relative;
    top: -262px;

    left: 15px;
    display: flex;
  }

  .section2text {
    position: relative;
    top: -240px;
    align-items: start;
    color: white;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .mobilekampagne {
    display: flex;
    position: relative;
    left: -10px;
  }

  .talebobbel {
    position: relative;
    left: 10px;
    top: -163px;
  }
}
