* {
    margin: 0;
    padding: 0;
}

#section1 {
    background-color: #12569F;
}

#section2 {
    background-color: #DF4588;
}

#section3 {
    background-color: #000000;
    display: grid;
    justify-content: space-evenly;
}




@media only screen and (max-width: 768px)  {
    
    #section1 {
    background-color: #12569F;
}

#section2 {
    background-color: #DF4588;
}

#section3 {
    background-color: #000000;
    display: grid;
    justify-content: space-evenly;
}
}